<!--Start contruct-info area-->
<section class="contruct-info" style="background-image: url(images/resource/8.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12 col-xs-12">
        <div class="text-holder text-center">
          <h2>Unhappy with your provider ?</h2>
          <h4>You have a lot going on. We’ll take it from here...</h4>
        </div>
      </div>
      <div class="col-lg-7 col-sm-12 col-xs-12">
        <div class="right-side text-center">
          <h3>Our Team of Professionals has the Expertise to Help</h3>
          <ul>
            <li>Call us
              <span>1-866-684-2507</span>
            </li>
            <li>Email us
              <a href="#">
                <span>support@ally247.com</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End contruct-info area-->