<!--Start footer area-->
<footer class="footer-area">
  <div class="container">
    <div class="row">
      <!--Start single footer widget-->
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="single-footer-widget mar-btm">
          <div class="footer-logo">
            <a href="index.html">
              <img src="images/logo/logo-2.png" alt="Awesome Footer Logo">
            </a>
          </div>
          <div class="our-info">
            <p>It is our mission to provide superior customer service and a commitment 
              to excellence in all that we do. It is our vision to smartly scale out 
              the business and grow our footprint organically and transform the 
              medical supplies industry
            </p>
          </div>
        </div>
      </div>
      <!--End single footer widget-->

      <!--Start single footer widget-->
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="single-footer-widget mar-btm right">
          <div class="title">
            <h3>Sitemap</h3>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <ul class="usefull-links left">
                <li>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="about-us.html">About Us</a>
                </li>
                <li>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="#">Products</a>
                </li>
                <li>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="contact-us.html">Clinitians</a>
                </li>
                <li>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="contact-us.html">Start Service</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <ul class="usefull-links right">
                <li>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="#">Get Help</a>
                </li>
                <li>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="contact-us.html">Contact us</a>
                </li>
                <li>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <a href="#">FAQ’s</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Start single footer widget-->

      <!--Start single footer widget-->
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="single-footer-widget contuct">
          <div class="title">
            <h3>Contact info</h3>
          </div>
          <ul class="instagram-feed-list">
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>866-684-2507</li>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="#">support@ally247.com</a>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>4951-B E. Adamo Dr, Suite 220 
              <br>
              <span>Tampa, FL 33605-5913</span>
            </li>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Fri: 8am to 5pm</li>
          </ul>
        </div>
      </div>
      <!--End single footer widget-->

      <!--Start single footer widget-->
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="single-footer-widget martop">
          <div class="title">
            <h3>newsletter</h3>
          </div>
          <div class="text-holder">
            <p>Subscribe to our newsletter for latest updates
              <br> about our company</p>
            <div class="search-form">
              <form action="#">
                <div class="search">
                  <input type="text" name="form_name" value="" placeholder="" required="">
                  <button type="submit" data-loading-text="Please wait...">signup</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--End single footer widget-->
    </div>
  </div>
</footer>
<!--End footer area-->

<!--Start footer bottom area-->
<section class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="footer-bottom">
          <div class="copyright-text pull-left">
            <p>© Copyrights 2018 Acentus. All Rights Reserved.
              <span>Terms of Use</span> &
              <span>Privacy Policy</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End footer bottom area-->