<!--Start Top bar area -->
<section class="top-bar-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="left-side">
          <ul class="header-top">
            <li><i class="fa fa-phone" aria-hidden="true"></i> Call us today 866-684-2507</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">support@ally247.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="right-side clearfix">
          <div>
            <ul class="header-top">
              <li><a href="http://espanol.acentus365.com">Español</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Top bar area -->

<!-- Main Header-->
<header class="main-header">

  <!--Header Lower-->
  <div class="header-lower">
    <div class="container">
      <div class="menu-bg">
        <div class="nav-outer clearfix">

          <div class="logo">
            <a href="index.html">
              <img src="images/logo/logo.png" alt="Acentus">
            </a>
          </div>
          <!-- Main Menu -->
          <nav class="main-menu">
            <div class="navbar-header">
              <!-- Toggle Button -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="current">
                  <a href="index.html">Home</a>
                </li>

                <li class="">
                  <a href="about-us.html">About Us</a>
                </li>

                <li class="dropdown">
                  <a href="#">Products</a>
                  <ul>
                    <li>
                      <a href="#">Medical Nutrition</a>
                    </li>
                    <li>
                      <a href="#">Incontinence</a>
                    </li>
                    <li>
                      <a href="#">Urology</a>
                    </li>
                    <li>
                      <a href="#">Resources</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#">Clinitians</a>
                  <ul>
                    <li>
                      <a href="#">Forms & Information</a>
                    </li>
                    <li>
                      <a href="#">Order Product Samples</a>
                    </li>
                  </ul>
                </li>
                
                <li>
                  <a href="contact-us.html">Contact Us</a>
                </li>

              </ul>
            </div>
          </nav>
          <!-- Main Menu End-->

          <div class="btn-holder">
            <a href="#">Request Appointment</a>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--End Header Lower-->

  <!--Sticky Header-->
  <div class="sticky-header">
    <div class="container clearfix">
      <!--Logo-->
      <div class="logo pull-left">
        <a href="index.html" class="img-responsive">
          <img src="images/logo/logo.png" alt="" title="">
        </a>
      </div>

      <!--Right Col-->
      <div class="right-col pull-right">
        <!-- Main Menu -->
        <nav class="main-menu">
          <div class="navbar-header">
            <!-- Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">
              <li class="current">
                <a href="index.html">Home</a>
              </li>

              <li class="">
                <a href="about-us.html">About Us</a>
              </li>
              <li class="dropdown">
                <a href="#">Products</a>
                <ul>
                  <li>
                    <a href="#">Medical Nutrition</a>
                  </li>
                  <li>
                    <a href="#">Incontinence</a>
                  </li>
                  <li>
                    <a href="#">Urology</a>
                  </li>
                  <li>
                    <a href="#">Resources</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#">Clinitians</a>
                <ul>
                  <li>
                    <a href="#">Forms & Information</a>
                  </li>
                  <li>
                    <a href="#">Order Product Samples</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="contact-us.html">Start Service</a>
              </li>

              <li>
                  <a href="contact-us.html">Contact Us</a>
                </li>

            </ul>
          </div>
        </nav>
        <!-- Main Menu End-->
      </div>

    </div>
  </div>
  <!--End Sticky Header-->

</header>
<!--End Main Header-->